@import "variables";
@import "element-overrides";
@import "primefaces-overrides";

body {
  //background: url('http://i.imgur.com/Eor57Ae.jpg') no-repeat fixed center center;
  background-size: cover;
  font-family: 'Open Sans', sans-serif !important;
  //overflow: hidden;
  color: $color-input-text;
  //color: $color-text-base;
  background: $color-form-bg;
  overflow: hidden;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

div.tooltipWrap {
  background: white;
  border-radius: 100%;
  padding: 4px;
  width: 4px;
  height: 4px;
  /*border: 1px solid transparent;*/

  &:after {
    content: '*';
    position: relative;
    font-size: 11px;
    top: -10px;
  }

  &.validationErr {
    color: red;
    //border-color: red;
    //background: red; /*#FFC4C4;*/
  }

  &.validationWarn {
    border-color: darkorange;
    background: darkorange; /*#FFC4C4;*/
  }

  &.validationOk {
    border-color: green;
    background: green; /*#C6FFC4;*/
  }
}

.validationErr input {
  border-color: red;
}

.validationWarn input {
  border-color: darkorange;
}

.validationOk input {
  border-color: green;
}

// Стили заголовков
.ap-header {
  min-width: 960px;
  height: $ap-header-height;
  background: white;
  border-bottom: 1px solid $color-border;
}

.ap-h1 {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.7;
  color: $color-text-headers;
}

.ap-h2 {
  font-size: 24px;
  line-height: 2;
  color: $color-text-headers;
  opacity: 0.65;
}

.ap-h3 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 1.5;
  color: $color-text-headers;
}
.ap-h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #6B94C2;
  letter-spacing: 0.25px;
}

.txt-h3 {
  font-weight: 300;
}

.ap-txt-big {
  font-size: 15px;
  letter-spacing: 0.1px;
  line-height: 1.3px;
}

.ap-txt-small {
  font-size: 10px;
  letter-spacing: 0.1px;
  line-height: 1.2px;
}

// Стили элементов форм
.ap-input-caption {
  width: 200px;
  padding-right: 12px;
  font-size: $input-caption-font-size;
  text-align: right;
  line-height: 1.1;
  font-weight: 600;
  //#606060
}

.ap-btn-cancel span {
  color: $color-text-base;
}

.ap-btn-underlined span {
  border-bottom: 1px dashed $color-blue-selected;
  color: $color-blue-selected;
}

.ap-btn-link span {
  color: $color-blue-selected;
}

.ap-select-underlined {
  .el-input__inner {
    border-bottom: 1px dashed $color-blue-selected;
    color: $color-blue-selected !important;
  }

  .el-input__icon {
    color: $color-blue-selected !important;
  }
}

.ap-input-comment {
  font-size: 12px;
  margin-top: -20px;
  margin-bottom: 10px;
  font-style: italic;
}

.ap-input {
  color: $color-input-text;
  font-size: 13px;
}

.ap-input-file {
  color: $color-text-base;
  font-size: 13px;
}

.ap-input--disabled {
  color: $color-text-base;
}

.ap-button-back {
  $size: 36px;
  width: $size;
  height: $size;
  display: inline-block;
  border-radius: 100%;
  border: 1px solid $color-input-border;
  outline: none;
  background: url($publicpath + "/images/arrow-back.svg") no-repeat center;
  background-size: 26px;
  transition: all 150ms linear;

  &:hover {
    border-color: $color-blue-selected;
  }
}

// Стили таблиц
.ap-table {
  .ap-table__th {
    padding: 10px 20px;
  }

  .ap-table__td {
    padding: 5px 20px;
    font-size: 13px;
    text-align: left;
  }

  tbody {
    .ap-table__tr {
      transition: background-color 150ms linear;

      &:hover {
        background-color: #e6f4ff;
      }
    }
  }

  &.ap-table--bordered {
    .ap-table__th {
      border-bottom: 1px solid $color-border;
    }

    .ap-table__td {
      border-bottom: 1px solid $color-border;
    }
  }
}


.ap-table__header {
  font-size: 11.5px;
  vertical-align: top;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.25px;
}

.ap-table-list-number {
  $size: 20px;
  background: #e4e8f1;
  padding: 4px;
  display: inline-block;
  border-radius: 100%;
  width: $size;
  height: $size;
  line-height: $size/2;
  text-align: center;
  font-size: 12.5px;
  font-weight: 600;
  color: $color-text-headers;
  border: 1px solid rgba($color-text-headers, 0.2);
}

.cutted-text {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

// Page Footer
.ap-footer {
  background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  border-top: 1px solid $color-input-border;
  box-shadow: 0 0 7px rgba(86, 83, 83, 0.15);
  z-index: 1;
  transition: all 250ms ease-in;

  &.hidden {
    bottom: -72px;
  }
}
.user-avatar-burger{
  background: url($publicpath + "/images/user-avatar-burger.svg") no-repeat center;
  height: 14px;
  width: 13px;
  margin-left: 10px;
  cursor: pointer;
}
.ap-user-menu-toggle {
  $size: 42px;
  width: $size;
  height: $size;
  background: url($publicpath + "/images/user.svg") no-repeat center;
  background-size: contain;
  // opacity: 0.65;
  filter: grayscale(80%);
  background-color: gray;
  border-radius: 100%;
  transition: all 100ms linear;
  &:hover {
    opacity: 0.85;
  }
}

.ap-side-panel-wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}

.ap-side-panel-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - #{$ap-header-height});
}

.ap-side-panel-left {
  width: 320px;
  font-size: 13px;
  color: $color-blue-dark;
  border-right: 1px solid $color-border;
  background: white;
  z-index: 1;
  box-shadow: 1px 0px 4px rgba(86, 83, 83, 0.23)!important;
  .popperAction{
    padding: 0 5px;
    min-width: auto;
  }
  .doc-actions{
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    background: #fff;
    .big-print{
      .star-on{

      }
    }
    .ico.printer,
    .ico.doubles{
      width: 30px;
      height: 30px;
    }
  }
  .sectionCard{
    border-bottom: none;
    .el-card__header{
      border-top: 1px solid #d1dbe5;
      margin-top: -1px;
    }
  }
  .ap-side-panel-left__statuses {
    margin-top: 20px;
    vertical-align: middle;
  }

  .ap-side-panel-left__nav {
    li {
      padding-left: 20px;
      border-left: 4px solid transparent;
      color: #505A6E;
      font-size: 14px;
      &:hover, &.active {
        color: $color-blue;
        border-left-color: $color-blue;
        cursor: pointer;
      }
    }
  }
}

.ap-form-bg {
  background: $color-page-bg;
}

.ap-form__footer {
  background: $color-page-bg;
  margin-top: -1px;
  padding: 12px 18px;

  border-top: 1px solid $color-input-border;
  border-bottom: 1px solid $color-input-border;
}


/* Daniil Grigoryev */
.sectionCard{
  .headline{
    h3{
      font-size: 17px;
      color: #6B94C2;
    }
  }
}


// .ap-h4{
//   margin: 10px 0 20px 0;
// }
.txt-petite{
  font-size: 13px;
}
.txt-middle{
  font-size: 16px;
}
.border-gray{
  border-color: #ccc;
}
.color-gray-light{
  color: #ccc;
}
.w130{
  width: 130px!important;
  min-width: 130px!important;
}

.fileCard{
  width: 267px;
  box-sizing: border-box;
  border: 1px solid #CCCCCC;
  border-radius: 0;
  margin: 10px;
  .fileCard__header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B9B9B9;
    height: 140px;
    overflow: hidden;
  }
  .fileCard__footer{
    padding: 10px;
    background-color: #fff;
    position: relative;
    .el-popover{
      min-width: auto;
    }
    .popoverContent{
      .actionButton:nth-child(2){
        margin-top: 6px;
      }
    }
    .action{
      position: absolute;
      right: 10px;
      top: 10px;
      width: 20px;
    }
    .content{
      width: 215px;
      .fileName{
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        display: inline-block;
        &:hover{
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
    p{
      color: #797979;
      &.date{
        font-size: 13px;
      }
    }
  }
}
.form-container{
  max-width: 1100px;
}

.form-side-panel{
  .wrap{
    .item.item--full{
      grid-template-columns: minmax(min-content, min-content) auto;
      .label{
        min-width: 88px;
      }
    }
  }
}


.wrap{
  display: grid;
  // grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 17px;
  grid-column-gap: 17px;
  grid-auto-flow: dense;
  position: relative;


  &.wrap--infoview{
    border-bottom: 1px solid #CCCCCC;
    padding: 25px 0;
    .item{
      align-items: flex-start;
      .label{
        color: #6B94C2;
      }
      .value{
        color: #505A6E;
      }
    }
    .right-aside{
      position: absolute;
      right: 15px;
      top: 10px;
    }
    .left-aside{
      position: absolute;
      left: 10px;
      top: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .list-num{
        font-size: 48px;
        color: #CCCCCC;
        line-height: 100%;
        font-weight: 100;
      }
    }



  }

  .item{
    display: grid;
    // grid-template-columns: minmax(210px, min-content) minmax(215px, 1fr);
    grid-template-columns: minmax(190px, min-content) auto;
    @media screen and (max-width: 1450px){
      grid-template-columns: minmax(100px, min-content) auto;
    }
    align-items: center;
    grid-column: auto / span 2;

    .label{
      font-family: 'Open Sans';
      margin-right: 15px;
      text-align: right;
      font-size: 14px;
      color: #797979;
      max-width: 220px;
      min-width: 108px;

      // span{
      //   position: absolute;
      //   right: 0px;
      //   width: 190px;
      //   transform: scale;
      //   top: 50%;
      //   transform: translateY(-50%);            
      // }
    }
    .value{
      // min-width: 320px;
    } 
  }
  .item--flow{
    grid-template-columns: min-content 1fr;
  }
  .item--full{
    grid-column: span 4;
    max-width: inherit;
    .value{
      min-width: 100%;
    } 
  }
  .item--right{
    // grid-column: 2 / 3;
    grid-column: 3 / span 2;
  }
  .item--left{
    grid-column: 1 / span 2;
  }
  .item-fully{
    display: grid;
    grid-column: auto / span 4;
    grid-template-columns: repeat(4, 1fr);
  }


}
.flex-table{
  padding-left: 190px;
  @media screen and (max-width: 1450px){
    padding-left: 0;
  }

  .row{
    display: flex;
    align-items: center;
    
    .column{
      margin: 5px 15px 5px 0;
      .label{
        color: #797979;
        font-size: 14px;
        line-height: 100%;
        padding: 9px 0;
        height: 32px;
      }
      .bllipsis{
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
      }
      .value{
      }
      &.column--end{
        align-self: end;
        margin-left: auto;
        .value{
          margin-top: 33px;
        }
      }
    }
  }
}

.searchRoot{
  max-width: 1920px;
  .panel{
    display: flex;
    justify-content: space-between;
  }
}
.searchRoot__control{
  .flex-table{
    max-height: 334px;
    min-height: 70px;
    overflow: auto;
    width: 640px;
  }
  .readOnly input:focus{
    border: 1px solid #D9D9D9!important;
  }

}
.searchRoot__add{
  max-width: 670px;
  .item.item--full{
    grid-template-columns: minmax(230px, min-content) auto;
  }
  .select-container{
    width: 345px;
  }
  h4.ap-h4{
    margin-bottom: 15px;
  }
}
.searchRoot__saver{
  width: 400px;
}

.select-container{
  .select{
    font-size: 16px;
    color: #373737;
    padding: 4px 30px 4px 7px;
    border-radius: 0!important;
    option{
      
    }
  }
}

i.ico{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  &.round{
    &.edit{
      background-image: url($publicpath + '/images/ico-round-edit.svg');
      background-repeat: no-repeat;
    }
    &.minus{
      background-image: url($publicpath + '/images/ico-round-minus.svg');
      background-repeat: no-repeat;
    }
    &.plus{
      background-image: url($publicpath + '/images/ico-round-plus.svg');
      background-repeat: no-repeat;
    }
    &.info{
      background-image: url($publicpath + '/images/ico-round-info.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &.minus{
    background-image: url($publicpath + '/images/ico-minus.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
  &.upload{
    width: 16px;
    height: 16px;
    background-image: url($publicpath + '/images/ico-upload.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &.download{
    background-image: url($publicpath + '/images/ico-download.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
  &.scan{
    width: 21px;
    height: 21px;
    background-image: url($publicpath + '/images/ico-scan.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &.dot{
    background-image: url($publicpath + '/images/ico-dotted.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 4px;
    height: 20px;
  }
  &.defaultFile{
    background-image: url($publicpath + '/images/ico-default.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 67px;
    height: 87px;
  }
  &.delete{
    background-image: url($publicpath + '/images/ico-trash.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 11px;
    height: 14px;
  }
  &.load{
    background-image: url($publicpath + '/images/ico-loading.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 16px;
    height: 16px;
  }
  &.printer{
    background-image: url($publicpath + '/images/printer.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 16px;
    height: 16px;
  }
  &.doubles{
    background-image: url($publicpath + '/images/doubles.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 16px;
    height: 16px;
  }
}

/*

                    <div className="item">
                        <small className="label"></small>
                        <div className="value">

                        </div>
                    </div>
*/