@import "variables";
@import "mixins";

.p-datatable {
  background: transparent;

  .p-datatable-scrollable-wrapper {
    background: white;
    //border: 1px solid #c8c8c8;
  }

  .p-datatable-header, .p-datatable-footer {
    font-size: 12px !important;
    font-weight: 600 !important;
    color: $color-input-placeholder !important;
    background: transparent !important;
    border: none !important;
  }

  .p-column-title {
    text-transform: uppercase;
    font-size: 12px;
  }



  .p-datatable-scrollable-header {
    overflow-y: visible !important;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
  }


  .p-datatable-scrollable-view {
    overflow: hidden;
  }

  .p-datatable-scrollable-body {
    @include custom-scrollbar();
  }

  .p-datatable-thead > tr > th {
    text-align: left !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    color: $color-input-placeholder !important;
    line-height: 1 !important;
    //background: #f8f8f8 !important;
    border: none !important;
  }

  .p-datatable-tbody > tr > td {
    overflow: hidden;
    color: $color-input-text !important;
    font-size: 13px !important;
    border: none !important;
  }

  .p-datatable-tbody > tr:nth-child(2n) {
    background-color: initial !important;
  }

  tr {
    border-bottom: 1px solid $color-input-border !important;
  }


  tr:not(.p-highlight, .p-datatable-emptymessage):not(.p-highlight-contextmenu):hover {
    background-color: $color-bg-color-active !important;
  }

  .p-datatable-row:last-child {
    border-bottom: none !important;
  }

  tr.p-datatable-emptymessage {
    border-bottom: none !important;

    &:hover {
      cursor: initial !important;
      background: initial !important;
    }

    td {
      font-size: 18px !important;
      line-height: 24px !important;
      border-bottom: none !important;
      color: rgba(black, 0.1) !important;
    }
  }
}

.p-dropdown, .p-dropdown-label.p-inputtext, .p-dropdown-trigger {
  background: transparent !important;
}

body .p-paginator {
  border: none !important;
  border-top: 1px solid #d1dbe5 !important;
  background: white !important;
}