.saveTable {
	position: absolute;
    display: block;
    width: 25vw;
    height: 5vh;
    top: 412px;
    left: 450px;
    background-color: rgb(255, 255, 255);
}

.loadTable {
	position: absolute;
    display: block;
    width: 25vw;
    height: 5vh;
    top: 412px;
    left: 110px;
    background-color: rgb(255, 255, 255);
}