$color-page-bg: #f2f2f2;
$color-text-base: #797979;
$color-text-headers: #616e7f;
$color-input-border: #DEDEDE;
$color-input-border-blue: #1888CC;
$color-input-text: #373737;
$color-input-placeholder: #989898;
$color-input-icon: #ccc;
$color-blue-selected: #53A4D6;
$input-caption-font-size: 12px;
$input-font-size: 13px;

$box-border-color: $color-input-border;


$box-bg-color-active: #e6f4ff;