$color-blue: #5578a7;
$color-page-bg: #f2f2f2;
$color-text-base: #797979;
$color-text-headers: #5e6d82;
$color-blue: #20a0ff;
$color-blue-dark: $color-text-headers;

$color-border: #D9D9D9;
$color-input-border: $color-border;
$box-border-color: $color-border;

$color-input-text: #48576a;
$color-input-placeholder: #989898;
$color-input-icon: #ccc;
$color-blue-selected: $color-blue;
$input-caption-font-size: 12.5px;
$input-font-size: 13px;


$color-bg-color-active: #e6f4ff;
$color-bg-blue-faint: #f3f9fe;
$color-form-bg: #f2f2f2;

$ap-header-height: 58px;


